{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "getOffice",
        "arguments":  $utils.toJson($context.arguments),
        "headers": $utils.toJson($context.request.headers)
    }
}